---
import { Image } from "astro:assets";
import Button from "../../Button.astro";
import Wrapper from "../../Wrapper.astro";
import "./servicesList.scss";

const { title, titleStyleTwo, subTitle, buttonText, buttonLink, services } =
  Astro.props.data;
---

<div class="services-list">
  <Wrapper classes="services-list-wrapper">
    {
      titleStyleTwo ? (
        <div class="services-list-intro style-two">
          <h2>{title}</h2>
        </div>
      ) : (
        <div class="services-list-intro">
          <h2>{title}</h2>
          <h3>{subTitle}</h3>
          <Button ele="a" href={buttonLink.edges[0].node.uri}>
            {buttonText}
          </Button>
        </div>
      )
    }

    <div class="services-list-services">
      {
        services.map((service: any) => {
          const imageSrc = service.image?.node?.sourceUrl;
          const imageAlt = service.image?.node?.altText || "";

          return (
            <div class="services-list-service">
              <div class="services-list-service-content">
                <div class="services-list-service-content-title">
                  <h2>{service.title}</h2>
                </div>
                <div
                  class="services-list-service-content-excerpt"
                  set:html={service.content}
                />
                <div class="services-list-service-content-link">
                  <a href={service.buttonLink.edges[0].node.uri}>Learn More</a>
                </div>
              </div>
              <div class="services-list-service-image">
                <Image
                  src={imageSrc}
                  alt={imageAlt}
                  format="webp"
                  widths={[800, 1200, 1600, 2000]}
                  sizes="100vw"
                  loading="eager"
                  inferSize={true}
                />
              </div>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</div>
