---
import Layout from "../../layouts/Layout.astro";

import { Page_Seo_Query } from "../../data/page/queries";

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
        query postsQuery {
            posts(first: 999999) {
                nodes {
                    uri
                    slug
                    title
                }   
            }
        }
        `,
    }),
  });

  const { data } = await response.json();
  return data.posts.nodes.map((post: any, index: any) => {
    return {
      params: { slug: `${post.slug}` },
      props: {
        next: index === 0 ? null : data.posts.nodes[index - 1],
        prev:
          index === data.posts.nodes.length - 1
            ? null
            : data.posts.nodes[index + 1],
      },
    };
  });
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query postQuery($id: ID!) {
      post(idType: SLUG, id: $id) {
        ${Page_Seo_Query}
        title
        date
         postFields {
          excerpt
          article
          featuredImage  {
            node {
              sourceUrl
              altText
              mediaDetails {
                width
                height
              }
            }
          }
        }
      }
    }
    `,
    variables: {
      id: Astro.params["slug"],
    },
  }),
});

const {
  data: {
    siteWideSettings,
    post,
    post: { seoMetaTags },
  },
} = await response.json();
---

<Layout
  metaImg={seoMetaTags.seoMetaInformation.metaImage.sourceUrl}
  metaTitle={seoMetaTags.seoMetaInformation.metaTitle}
  metaDescription={seoMetaTags.seoMetaInformation.metaDescription}
>
  <h1>Single Post Page</h1>
</Layout>
